/* Navbar */

.navbar {
    height: 64px;
}

/* Footer */

.footer-lower {
    background-color: rgba(0, 0, 0, 0.2)
}

/* Sign up page */

.form-input {
    width: 300px;
    /* Temporary fix for sign up page*/
}

/* Paycheck */

.paycheck-box {
    border: solid black 3px;
    padding: 15px;
    margin: 20px;
}

.paycheck-input {
    margin-bottom: 9.5px;
}