/* Navbar */

.navbar {
    height: 64px;
}

/* Footer */

.footer-lower {
    background-color: rgba(0, 0, 0, 0.2)
}

/* Home */

.summary-box {
    display: flex;
    justify-content: center;
    background-color: lightgrey;
    border: black solid 1px;
    width: 400px;
    border-radius: 18px;
    box-shadow: 1px 1px rgb(129, 129, 129);
    padding: 7px;
    margin-bottom: 50px;
}

.record-sm-box {
    display: flex;
    justify-content: center;
    background-color: lightgrey;
    border: black solid 1px;
    width: 400px;
    border-radius: 18px;
    box-shadow: 1px 1px rgb(129, 129, 129);
    padding: 7px;
}

.record-text {
    margin-bottom: 1px !important;
}

/* Sign up page */

.form-input {
    width: 300px;
    /* Temporary fix for sign up page*/
}

/* Add Record */

.record-box {
    display: flex;
    padding: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: lightgrey;
    border: 1px solid black;
    justify-content: center;
    margin: 15px;
    margin-top: 25px;
}

.record-input {
    width: 300px;
    padding: 3px;
    margin-top: 5px;
}

.record-btn {
    width: 300px;
    padding: 3px;
}