{% extends "base.html" %}
{% block content %}

    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-4 summary-box">
                <h1>Account Summary</h1>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="record-sm-box">
                <div class="col-6">
                    <h4>Sainsburys</h4>
                    <p class="record-text">Monzo</p>
                </div>
                <div class="col-6 text-right">
                    <h5>£26.87</h5>
                    <p class="record-text">Groceries</p>
                </div>
                <a href="#"></a>
            </div>
        </div>
    </div>

{% endblock %}