{% extends "base.html" %}
{% block content %}

    <div class="container-fluid">
        <div class="row justify-content-center">
            <div>
                <h1>Paycheck calculator??</h1>
                <p>Estimate and plan the next four months paychecks</p>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-5 paycheck-box">

            </div>
            <div class="col-5 paycheck-box">

            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-5 paycheck-box">

            </div>
            <div class="col-5 paycheck-box">
                    
            </div>
        </div>
    </div>

{% endblock %}