{% extends "base.html" %}
{% block content %}

    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-4">
                <div id="paycheckSlide" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">

                            <div class="paycheck-box">
                                <h4 class="text-center">Month 1</h4>
                                <div class="row">
                                    <div class="col-6">
                                        <p class="text-center">Rent</p>
                                        <p class="text-center">Budget</p>
                                        <p class="text-center">Subscriptions</p>
                                        <p class="text-center">Debt</p>
                                        <p class="text-center">Savings</p>
                                        <p class="text-center">Spare</p>
                                        <p class="text-center"><b>Total</b></p>
                                    </div>
                                    <div class="col-6">
                                        <p class="text-center">£250</p>
                                        <p class="text-center">£80</p>
                                        <p class="text-center">£105</p>
                                        <p class="text-center">£0</p>
                                        <p class="text-center">£665</p>
                                        <p class="text-center">£0</p>
                                        <p class="text-center"><b>£1100</b></p>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="carousel-item">
                            <div class="paycheck-box">
                                <h4 class="text-center">Month 1</h4>
                                <div class="row">
                                    <div class="col-6">
                                        <p class="text-center">Rent</p>
                                        <p class="text-center">Budget</p>
                                        <p class="text-center">Subscriptions</p>
                                        <p class="text-center">Debt</p>
                                        <p class="text-center">Savings</p>
                                        <p class="text-center">Spare</p>
                                        <p class="text-center"><b>Total</b></p>
                                    </div>
                                    <div class="col-6">
                                        <p class="text-center">£250</p>
                                        <p class="text-center">£80</p>
                                        <p class="text-center">£105</p>
                                        <p class="text-center">£0</p>
                                        <p class="text-center">£665</p>
                                        <p class="text-center">£0</p>
                                        <p class="text-center"><b>£1100</b></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <a class="carousel-control-prev" href="#paycheckSlide" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#paycheckSlide" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}